<p>
  <strong>Commenter:</strong>
  <%= comment.user.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <% if user_signed_in? && (current_user == comment.user || current_user.has_role?(:admin)) %>
    <%= button_to 'Elminar comentario', [comment.article, comment],
                  method: :delete,
                  data: { confirm: 'You sure?' } %>
  <% end %>
</p>

